{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if category == 'forg' %}
<div class="alert green white-text alert-dismissible fade show mb-3" style="position: relative; top: 0; z-index: 5; right: 3px; margin-top: 10px; width: 31%; text-align: left; margin-left: 68%" role="alert">
	<strong>{{message}}</strong>.
{% elif category == 'reg-success'%}
<div class="alert green white-text alert-dismissible fade show mb-3" style="position: relative; top: 0; z-index: 5; right: 3px; margin-top: 10px; width: 31%; text-align: left; margin-left: 68%" role="alert">
	<strong>{{message}}</strong> Please login to continue.
{% elif category == 'login-failed'%}
<div class="alert red white-text alert-dismissible fade show mb-3" style="position: relative; top: 0; z-index: 5; right: 3px; margin-top: 10px; width: 31%; text-align: left; margin-left: 68%" role="alert">
	<strong>{{message}}</strong> Invalid email or password.
{% elif category == 'errors' %}
<div class="alert red white-text alert-dismissible fade show mb-3" style="position: relative; top: 0; z-index: 5;right: 3px; margin-top: 10px; width: 31%; text-align: left; margin-left: 68%" role="alert">
	<strong>{{message}}</strong>.
{% endif %}
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
{% endfor %}
{% endif %}
{% endwith %}